{% extends "core/base.html" %} {% load static %} {% block title %} Order {% endblock %} {% block content %}

<div class="container">
  <div class="row mt-2">
    <div class="col-md-9 mx-auto mb-1">
      <table class="table table-striped">
        <thead class="text-white">
          <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio BTC</th>
          </tr>
        </thead>
        <tbody class="text-white">
          {% for product in order %}
          <tr>
            <td>{{product.description}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.price}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-md-9 mx-auto mb-2">
      <div class="float-right">
        <span class="text-white">Total = {{total}} BTC</span>
      </div>
    </div>
  </div>
  <div class="row mt-0">
    <div class="col-md-9 mx-auto mb-1">
      <div id="button_submit" class="float-right">
        <a href="{% url 'artworks:artworks' %}" class="btn btn-danger mx-1" onclick="clearStorage()">
          <span class="spinner-border spinner-border-sm d-none"></span>
          <i class="far fa-trash-alt"></i> Limpiar carrito
        </a>
      </div>
      <div id="button_submit" class="float-right">
        <a href="{% url 'artworks:create_order' %}" class="btn btn-success mx-1">
          <span class="spinner-border spinner-border-sm d-none"></span>
          <i class="fas fa-paper-plane fa-fw"></i> Confirmar Pedido
        </a>
      </div>
    </div>
  </div>
</div>

<script>
  function clearStorage() {
    localStorage.clear();
    show_badge_cart();
  }
</script>

{% endblock %}
